/aopalliance-1.0.jar
/apache-commons-net.jar
/com.fasterxml.jackson.core.jar
/com.fasterxml.jackson.databind.jar
/com.lowagie.text-2.1.7.jar
/common-langs-2.2.jar
/commons-beanutils-1.7.0.jar
/commons-beanutils-1.9.0.jar
/commons-beanutils-bean-collections-1.7.0.jar
/commons-beanutils-core-1.7.0.jar
/commons-collections-2.1.jar
/commons-collections-3.2.1.jar
/commons-dbcp-1.1.jar
/commons-digester-1.5.jar
/commons-digester-2.1.jar
/commons-fileupload-1.0.jar
/commons-logging-1.1.1.jar
/commons-validator-1.1.3.jar
/cryptix-3.2.jar
/el-api-1.0.jar
/hibernate-validator-4.2.0.Final.jar
/itext-2.1.0-sources.jar
/itextpdf-5.1.0.jar
/jasperreports-6.2.0.jar
/java_table-20040416.jar
/jax-qname-1.1.jar
/jaxb-api-1.0.1.jar
/jaxb-impl-1.0.6.jar
/jaxb-libs-1.0.6.jar
/jaxen-1.0-FCS.jar
/jstl-1.1.2.jar
/juice-3.0.jar
/jxl-2.6.12.jar
/lib.rar
/log4j-1.2.16.jar
/namespace-1.0.1.jar
/ojdbc-14.jar
/org.springframework.web.servlet-3.1.2.release.jar
/poi-3.9.jar
/poi-excelant-3.8.jar
/poi-ooxml-3.8.jar
/poi-ooxml-schemas-3.8-beta3-20110606.jar
/poi-scratchpad-3.8.jar
/poi-src-3.8.jar
/pool-1.0.0.jar
/relaxngDatatype-1.0.jar
/saxpath-1.0-FCS.jar
/slf4j-api-1.5.8.jar
/slf4j-log4j12-1.5.6.jar
/slf4j-log4j12-1.5.8.jar
/spring-aop-3.1.2.RELEASE.jar
/spring-asm-3.1.2.RELEASE.jar
/spring-beans-3.1.2.RELEASE.jar
/spring-context-3.1.2.RELEASE.jar
/spring-context-support-3.1.2.RELEASE.jar
/spring-core-3.1.2.RELEASE.jar
/spring-expression-3.1.2.RELEASE.jar
/spring-jdbc-3.1.2.RELEASE.jar
/spring-jms-3.1.2.RELEASE.jar
/spring-servlet.xml
/spring-transaction-3.0.6.RELEASE.jar
/spring-tx-3.1.2.RELEASE.jar
/spring-web-3.1.2.RELEASE.jar
/spring-webmvc-3.1.2.RELEASE.jar
/standard-1.1.2.jar
/threadpool-1.0.jar
/tiles-api-2.2.2.jar
/tiles-core-2.2.2.jar
/tiles-jsp-2.2.2.jar
/tiles-servlet-2.2.2.jar
/tiles-template-2.2.2.jar
/validation-api-1.0.0.GA.jar
/xsdlib-20060615.jar
