
h1 {
    color: black;
    margin-left: 20px;
    text-align: center;
}

header {
    padding: 1em;
    color: black;
    background-color: #808080;
    clear: left;
    text-align: center;
}

 footer {
    padding: 1em;
    color: black;
    background-color: #808080;
    clear: left;
    text-align: center;
   	bottom:0;
}

.right-sidebar .ad-block {
	background-color: #ff8040;
	height: 80px;
	margin: 10px 10px 15px 10px;
}
.right-sidebar {
	background-color: #ff8040;
	height: 360px;
	text-align: center;
	margin: 10px 10px 15px 10px;
	
}


.main-content .ad-block {
	background-color: #F0F0F0;
	height: 80px;
	width: 30%;
	margin: 10px;
}

.main-content  {
	height: 200px;
}

.main-content .ad-block {
	background-color: #F0F0F0;
	height: 80px;
	width: auto;
}


